<h1>New addition</h1>

<form action ="/wizard_add">
  <label for="add_num_one">Add this:</label>
  <input id="add_num_one" name="first_num">

  <label for="add_num_two">to this:</label>
  <input id="add_num_two" name="second_num">
  <button>Add!</button>
</form>
