<h1>New multiplication</h1>

<form action ="/wizard_multiply">
  <label for="mult_num_one">Multiply this:</label>
  <input id="mult_num_one" name="first_num">

  <label for="mult_num_two">by this:</label>
  <input id="mult_num_two" name="second_num">
  <button>Multiply!</button>
</form>
